.main {
  margin: 20px;
}

.nav-container {
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
}

.nav__item {
  margin-right: 15%;
}

.nav__link {
  border-bottom: 0px solid black;
  color: black;
}

.nav__link--is-active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.nav__link:after {
  display: block;
  content: '';
  position: relative;
  background-color: #a4d7dd;
  height: 14px;
  width: 0;
  left: 0;
  bottom: 17px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.nav__link:hover:after{
  width: 100%;
}

.logo { 
  cursor: pointer;
}

.logo__path {
  fill: black;
  /* fill: #7ca9af; */
  transition: 0.7s;
}

.logo:hover .logo__path {
  fill: #7ca9af;
}

.footer {
  color: white;
  background-color: black;
  font-size: 13px;
  padding: 0 20px;
}

.footer a {
  color: white;
}

.footer__items {
  align-items: start;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4,22%);
  padding: 14px 0px;
  grid-template-rows: repeat(2,41px);
  margin: 0;
  line-height: 16px;
}

.footer__item--end-credit {
  grid-column: 4/4;
  align-self: flex-end;
}

@media only screen and (max-width : 1000px) {}
@media only screen and (max-width : 640px) {
.nav__items{
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: aliceblue;
  right: -100%;
  visibility: hidden;
  transition: 0.7s;
  justify-content: center;
}

.nav__item {
  font-size: 36px;
  text-align: right;
  padding: 5vh 0;
}

.nav__items.active{
  right: 0;
  visibility: visible;
}

}
@media only screen and (max-width : 300px) {}