.arrow-up {
  text-align: center;
  position: fixed;
  bottom: -46px;
  right: 19px;
  font-size: 27px;
  padding: 4px 12px;
  background: #a4d7dd;
  transition: 0.7s;
}

.arrow-up__visible {
  bottom: 6px;
}

@media only screen and (max-width: 640px) {
  .arrow-up {
    display: none;
  }
}