.changelng {
  padding: 0;
  display: flex;
  width: 115px;
  justify-content: space-between;
}

.changelng__lng{
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: 0.7s;
}

.changelng__lng:hover {
  color: #7ca9af;
}
