.contact-form {
  width: 50%;
  margin: 0 0 40px 0;
  display: flex;
  grid-gap: 7px;
  flex-direction: column;
}

.contact-form__input {
  border: 1px solid #c9c9c9;
  border: none;
  padding: 13px;
  font-family: monospace;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
}

.contact-form__cont {
  display: flex;
  grid-gap: 7px;
}

.contact-form__cont--column {
  flex-direction: column;
}

.contact-form__legal {
  font-size: 12px;
  margin: 5px 0;
  font-style: italic;
}

.contact-form__buttons {
  display: flex;
  grid-gap: 7px;
}

.contact-form__button{
  font-family: monospace;
  border: none;
  padding: 14px;
  background: cornflowerblue;
  width: 107px;
  cursor: pointer;
  font-size: 17px;
}

.contact-form__button:hover{
  background: rgb(49 120 255);
}

@media only screen and (max-width : 700px) {
  .contact-form {
    width: 100%;
  }
}

@media only screen and (max-width : 350px) {
  .contact-form__cont {
    flex-direction: column;
  }

  .contact-form__button{
    width: 100%;
  }

  .contact-form__buttons{
    flex-direction: column;
  }
  
}